body {
  background: rgb(235, 190, 235);
}

a {
  color:rgb(206, 51, 159); 
}


.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}